@page "/download-personal-data"
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Tải xuống dữ liệu của bạn";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
