@page "/user/profile/personal-data"
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tài khoản chứa dữ liệu cá nhân mà bạn đã cung cấp. Trang cho phép bạn tải hoặc xóa dữ liệu.</p>
        <p>
            <strong>Việc xóa thông tin tài khoản sẽ loại bỏ tài khoản của bạn, và điều này không thể khôi phục.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Tải xuống</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Xóa</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
