@page "/reset-authenticator"
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Đặt lại khóa xác thực";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Nếu bạn đặt lại khóa xác thực trên ứng dụng xác thực thì ứng dụng sẽ không hoạt động cho đến khi bạn cấu hình lại chúng.</strong>
    </p>
    <p>
        Quá trình này sẽ tắt 2FA cho đến khi bạn xác thực Ứng dụng xác thực của bạn.
        Nếu bạn không hoàn thành cấu hình ứng dụng xác thực, bạn có thể mất quyền truy cập tài khoản.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Đặt lại khóa xác thực</button>
    </form>
</div>
