@page "/forgot-password-confirmm"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kiểm tra email để Đặt lại mật khẩu!!!
</p>
