@page "/khoa-tai-khoan/"
@model LockoutModel
@{
    ViewData["Title"] = "Bạn đã bi khóa mõm";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản bị tạm khóa, thử lại sau 5p</p>
</header>
