@page "/reset-password-confirm"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã được đặt lại. <a asp-page="./Login">Nhấn vào đây để đăng nhập</a>.
</p>
